/* ======================= card v2 styles ======================= */

.articles .article-v2 {
  display: flex;
  height: 350px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 5px #aaa;
  margin-bottom: 20px;

  .picture {
    height: 100%;
    width: 50%;
    position: relative;
    user-select: none;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .category {
      position: absolute;
      top: 5px;
      left: 5px;
      background-color: #fff;
      padding: 5px 10px;
      border-radius: 4px;
      box-shadow: 0 0 5px #000;
      font-weight: bold;
      transition: .3s all ease-in-out;
      opacity: 0;
      pointer-events: none;
    }

    &:hover .category {
      opacity: 1;
      pointer-events: all;
    }
  }

  .data {
    width: 50%;
    height: 100%;
    padding: 15px;
    position: relative;
    padding-bottom: 60px;

    .title {
      font-size: 1.5rem;
      margin-bottom: 20px;

      a {

        &:hover,
        &:active {
          text-decoration: underline;
        }
      }
    }

    .info {
      display: flex;
      flex-wrap: wrap;

      .author {
        display: flex;
        align-items: center;
        margin: 0 5px;

        .avatar {
          height: 30px;
          width: 30px;
          margin-inline-end: 5px;
          user-select: none;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .username {
          font-size: 1rem;
        }
      }

      .date {
        display: flex;
        align-items: center;
        margin: 0 5px;

        i {
          margin-inline-end: 5px;
        }

        span {
          font-size: 1rem;
        }
      }
    }

    .excerpt {
      margin: 10px 0;
      font-size: 1rem;

      .more {
        color: $main-color;
        text-decoration: underline;
      }
    }

    .share {
      position: absolute;
      bottom: 10px;
      left: 10px;
      display: flex;

      .toggler {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: $main-color;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: .3s all ease-in-out;

        &:hover,
        &:active {
          background-color: darken($main-color, 10);
        }
      }

      ul.share-list {
        display: flex;
        align-items: center;
        margin: 0 10px;

        &.show li {
          transform: scale(1);
        }

        li {
          margin: 0 2px;
          transform: scale(0);
          transition: .3s all ease-in-out;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: 1px #ddd solid;
            transition: .3s all ease-in-out;

            &:hover,
            &:active {
              background-color: rgba(#000, .1);
              border-color: rgba(#000, .1);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .articles .article-v2 {
    flex-direction: column;
    height: max-content;

    .picture {
      height: 250px;
      width: 100%;
    }

    .data {
      width: 100%;

      .title {
        font-size: 1.5rem;
        margin-bottom: 20px;

        a {

          &:hover,
          &:active {
            text-decoration: underline;
          }
        }
      }

      .info {
        display: flex;
        flex-wrap: wrap;

        .author {
          display: flex;
          align-items: center;
          margin: 0 5px;

          .avatar {
            height: 30px;
            width: 30px;
            margin-inline-end: 5px;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }

          .username {
            font-size: 1rem;
          }
        }

        .date {
          display: flex;
          align-items: center;
          margin: 0 5px;

          i {
            margin-inline-end: 5px;
          }

          span {
            font-size: 1rem;
          }
        }
      }

      .excerpt {
        margin: 10px 0;
        font-size: 1rem;

        .more {
          color: $main-color;
          text-decoration: underline;
        }
      }

      .share {
        position: absolute;
        bottom: 10px;
        left: 10px;
        display: flex;

        .toggler {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: $main-color;
          color: #fff;
          border: none;
          cursor: pointer;
          transition: .3s all ease-in-out;

          &:hover,
          &:active {
            background-color: darken($main-color, 10);
          }
        }

        ul.share-list {
          display: flex;
          align-items: center;
          margin: 0 10px;

          &.show li {
            transform: scale(1);
          }

          li {
            margin: 0 2px;
            transform: scale(0);
            transition: .3s all ease-in-out;

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 40px;
              width: 40px;
              border-radius: 50%;
              border: 1px #ddd solid;
              transition: .3s all ease-in-out;

              &:hover,
              &:active {
                background-color: rgba(#000, .1);
                border-color: rgba(#000, .1);
              }
            }
          }
        }
      }
    }
  }
}