/* ======================= Footer styles ======================= */

footer.website-footer {

  .newsletter {
    padding: 50px;
    background: url('../images/backgrounds/newsletter.png');
    background-position: left bottom;
    background-repeat: no-repeat;

    .input {
      position: relative;
      width: 100%;
      margin: 10px auto;

      input {
        padding: 15px;
        padding-inline-end: 135px;
        width: 100%;
        border-radius: 200px;
      }

      .subscribe {
        padding: 10px 20px;
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        cursor: pointer;
        background-color: $main-color;
        color: #fff;
        transition: .3s all ease-in-out;
        border-radius: 200px;

        &:hover,
        &:active {
          background-color: darken($main-color, 10);
        }
      }
    }

    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      user-select: none;

      i {
        margin-inline-end: 10px;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #444;
    color: #aaa;
    padding: 80px;

    .brand {
      margin-bottom: 30px;
      user-select: none;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    ul.social-accounts {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      li {
        margin: 10px 20px;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background-color: rgba(#000, .2);
          transition: .3s all ease-in-out;

          &:hover,
          &:active {
            color: #fff;
          }
        }
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    background-color: #111;
    color: #666;

    .by {

      span {
        color: #e74c3c;
      }

      a {
        text-decoration: underline;
        color: #2980b9;

        &:hover,
        &:active {
          text-decoration: none;
        }
      }
    }
  }
}

@media (min-width: 750px) {
  footer.website-footer {
    .newsletter .input {
      width: 60%;
    }
  }
}