/* ======================= Header styles ======================= */

header.website-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9;
  user-select: none;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .top-side {
      display: none;
    }
  }

  .top-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: darken($main-color, 10);
    transition: .5s all ease-in-out;

    .brand {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ul.social-accounts {
      display: flex;
      align-items: center;
      color: lighten($main-color, 20);

      li {
        &:last-child a {
          margin-inline-end: 0;
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          margin: 0 5px;
          transition: .3s all ease-in-out;

          &:hover,
          &:focus,
          &:active {
            background-color: #fff;
          }
        }
      }
    }
  }

  nav.nav {
    background-color: $main-color;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul.links {
      display: flex;
      align-items: center;
      color: #fff;

      li {
        &:not(.home) a i {
          display: none;
        }

        &.active {
          background-color: darken($main-color, 10);
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 20px;
          border-right: 1px $main-color solid;

          &:hover,
          &:active {
            background-color: darken($main-color, 10);
          }
        }
      }
    }

    .dropdown {
      position: relative;
      z-index: 9;

      .toggler {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        cursor: pointer;
        color: #fff;

        &:hover,
        &:active,
        &.active {
          background-color: darken($main-color, 10);
        }
      }

      ul.dropdown-list {
        opacity: 0;
        pointer-events: none;
        z-index: -999999;
        position: absolute;
        top: 100%;
        right: 0;
        width: max-content;
        background-color: #fff;
        transition: .3s all ease-in-out;

        &::before {
          content: '';
          position: absolute;
          top: -14px;
          right: 20px;
          display: block;
          height: 0;
          width: 0;
          border: 7px transparent solid;
          border-bottom-color: #fff;
        }

        &.show {
          opacity: 1;
          pointer-events: all;
          z-index: initial;
          box-shadow: inset 0 0 5px #aaa;
        }

        li {

          a {
            display: block;
            padding: 10px 20px;
            border-bottom: 1px #ddd solid;

            &:hover,
            &:active {
              background-color: lighten($main-color, 50);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  header.website-header {

    .top-side {
      padding: 10px 2px;
    }

    nav.nav {
      padding: 0 2px;

      ul.links {

        li {
          &:not(.home) a i {
            display: block;
          }

          a span {
            display: none;
          }
        }
      }
    }
  }
}