/* ======================= Main styles ======================= */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background-color: $main-color;
  color: #fff;
}

body {
  font-family: $main-font;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #222;
  background-color: #fafafa;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  color: inherit;
  font: inherit;
  border: 1px #ddd solid;
  outline: none;
}