/* ======================= About Page styles ======================= */

main.about-page {
  padding: 100px;
  padding-top: 50px;

  .title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .content {
    width: 50%;
    margin: 0 auto;

    p {
      margin-bottom: 1rem;
    }

    a {
      color: #0099e5;
      text-decoration: underline;

      &:hover,
      &:active {
        color: darken(#0099e5, 10);
      }
    }
  }

  .email-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    a {
      display: block;
      padding: 10px 20px;
      background-color: $main-color;
      color: #fff;
      border-radius: 4px;
      box-shadow: 0 4px 0 0 lighten($main-color, 40);
      transition: .3s all ease-in-out;

      &:hover,
      &:active {
        background-color: darken($main-color, 10);
        box-shadow: none;
      }
    }
  }
}

@media (max-width: 1000px) {
  main.about-page {
    .content {
      width: 70%;
    }
  }
}

@media (max-width: 800px) {
  main.about-page {
    .content {
      width: 80%;
    }
  }
}

@media (max-width: 600px) {
  main.about-page {
    padding: 50px;

    .content {
      width: 100%;
    }
  }
}