/* ======================= Article Page styles ======================= */

main.article-page {

  .article-content {
    border: 1px #ddd solid;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    padding: 0;

    .picture {
      height: 350px;
      user-select: none;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .title {
      font-size: 1.5rem;
      text-align: center;
      margin: 1rem 0;
    }

    .info {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .author {
        display: flex;
        align-items: center;
        margin: 0 5px;

        .avatar {
          height: 30px;
          width: 30px;
          margin-inline-end: 5px;
          user-select: none;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .username {
          font-size: 1rem;
        }
      }

      .date {
        display: flex;
        align-items: center;
        margin: 0 5px;

        i {
          margin-inline-end: 5px;
        }

        span {
          font-size: 1rem;
        }
      }
    }

    hr {
      border: none;
      border-top: 1px #ddd solid;
      width: 90%;
      margin: 10px auto;
    }

    .content {
      padding: 2rem;
      padding-top: 1rem;

      .header {
        background-color: lighten($main-color, 40);
        padding: 10px;
        margin-top: 2rem;
        margin-bottom: 1rem;
        border-inline-start: 5px $main-color solid;
        font-weight: bold;
      }
    }
  }
}