/* ======================= Articles Page styles ======================= */

main.articles-page,
main.article-page {
  padding: 50px;
  display: flex;
  flex-direction: row-reverse;

  .articles,
  .article-content {
    width: 70%;
    padding: 20px;
    padding-top: 0;
  }
}

@media (max-width: 800px) {

  main.articles-page,
  main.article-page {

    .articles,
    .article-content {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {

  main.articles-page,
  main.article-page {
    padding: 50px 0;
  }
}